* {
  margin: 0;
  text-decoration: none;
  list-style-type: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
p {
  margin: 0;
}
ul {
  margin: 0;
  padding-left: 0;
}
img {
  display: block;
}

a {
  text-decoration: none;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #ffffff;
  font-size: 16px;
  line-height: 1.5;
}

.hidden-none {
  display: none;
}

/* --- COLORS --- */
.iris-color {
  color: #4d5ae5;
}

.ocean-color {
  color: #404bbf;
}

.navy-blue-color {
  color: #2e2f42;
}

.slate {
  color: #434455;
}

.white {
  color: #ffffff;
}

.cloud {
  color: #f4f4fd;
}
/* --- end COLORS --- */
.container {
  max-width: 320px;
  width: 100%;
  margin: 0 auto;
  padding: 0 16px;
}

.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-nav {
  display: flex;
  align-items: center;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  color: #4d5ae5;
  line-height: 1.17;
  letter-spacing: 0.03em;
  padding: 16px 0;
}

.header-nav-list {
  display: none;
}

.header-nav-item-link {
  font-size: 36px;
  font-weight: 700;
  color: #2e2f42;
  letter-spacing: 0.02em;
  line-height: 1.11;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-nav-item-link:hover,
.header-nav-item-link:focus,
.header-nav-item-link:active {
  color: #404bbf;
}
.header-nav-item-link.active {
  color: #404bbf;
}

.header-nav-item:not(:last-child) {
  margin-bottom: 40px;
}

.header-address {
  display: none;
  font-style: normal;
}

.header-address-list {
  display: flex;
  flex-direction: column;
}

.header-address-item,
.header-address-item:not(:last-child) {
  margin-right: 0;
  margin-bottom: 0;
}

.menu-btn {
  display: block;
  background-color: inherit;
  border: none;
  .menu-icon {
    margin: 0 auto;
    opacity: 1;
    cursor: pointer;
    transform: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
.header-nav-mobile {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  padding: 72px 0 40px;
  background-color: #fff;
  z-index: 10;
}
.header-nav-mobile.is-open {
  display: block;
}
.mobile-flex {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 112px);
}
.header-nav-list-mob {
  display: block;
  flex-grow: 1;
}

.header-address-mob {
  display: block;
  font-style: normal;
}

.header-address-mob .header-address-link {
  font-family: inherit;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: inherit;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus,
  &:active {
    color: #404bbf;
  }
}

.header-address-item:not(:last-child) {
  margin-bottom: 24px;
  margin-right: 0;
}

.footer-social-list-mob {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  margin-top: 48px;
}

.banner {
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #2e2f42;
  background-position: center;
  text-align: center;
  padding: 72px 0;
}

/* 2x screens, retina, 2880x1200 image */
@media (min-resolution: 2x) {
  .banner {
    background-image: linear-gradient(to bottom,
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)),
        url(../images/people-office@2x.jpg);
  }
}

.banner-container {
  max-width: 100%;
  margin: 0 auto;
}

.banner-title {
  max-width: 216px;
  color: #ffffff;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  margin: 0 auto;
}

.banner-btn {
  display: block;
  color: #ffffff;
  border-style: none;
  background-color: #4d5ae5;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  margin: 72px auto 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  border-radius: 4px;
  min-width: 169px;
  height: 56px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.banner-btn:hover,
.banner-btn:focus {
  background-color: #404bbf;
}

.stand-out {
  padding: 96px 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.stand-out-list {
  display: block;
}

.stand-out-item {
  margin: 0 auto 72px;
}
.stand-out-item:last-child {
  margin-bottom: 0;
}

.stand-out-pic {
  display: none;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: #f4f4fd;
  border-radius: 4px;
  border: 1px solid #8e8f99;
  width: 100%;
  height: 112px;
  margin-bottom: 8px;
}

.stand-out-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.stand-out-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
  text-align: center;
}
.stand-out-desc {
  font-weight: 500;
  letter-spacing: 0.02em;
}

.our-team {
  background-color: #f4f4fd;
  padding: 96px 0;
}

.our-team-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 72px;
}

.our-team-list {
  display: block;
}

.our-team-item {
  margin: 0 auto 72px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  width: 264px;
  border-radius: 0 0 4px 4px;
  background-color: #ffffff;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.our-team-item:last-child {
  margin-bottom: 0;
}

.member-desc {
  padding: 32px 0;
  text-align: center;
}

.member-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.member-position {
  letter-spacing: 0.02em;
}

.member-icon {
  fill: #f4f4fd;
}

.member-icon-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-top: 8px;
  padding: 0 16px;
}

.member-icon-item {
  display: flex;
  width: 40px;
  height: 40px;
}
.member-icon-link {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.member-icon-link:hover {
  background-color: #404bbf;
}
.member-icon-link:focus {
  background-color: #404bbf;
}

.portfolio {
  padding: 96px 0;
}

.portfolio-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}
.portfolio-list {
  display: block;
}

.portfolio-item {
  margin-bottom: 48px;
  width: auto;
  cursor: pointer;
  box-shadow: 0 0 0 0 rgba(46, 47, 66, 0.08), 0 0 0 0 rgba(46, 47, 66, 0.16),
    0 0 0 0 rgba(46, 47, 66, 0.08);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:last-child {
  margin-bottom: 0;
}

.portfolio-item-card {
  display: flex;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #f4f4fd;
  width: 100%;
  height: 280px;
  font-family: inherit;
  font-weight: 400;
  letter-spacing: 0.02em;
  overflow: hidden;
}

/* .overlay, */
.portfolio-item-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #f4f4fd;
  background-color: #4d5ae5;
  padding: 40px 32px;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-item:hover {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.portfolio-item:hover .overlay,
.portfolio-item:hover .portfolio-item-text {
  transform: translateY(0%);
}

.portfolio-item-desc {
  border: 1px solid #e7e9fc;
  border-top: none;
  padding: 32px 16px;
}

.portfolio-item-name {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.portfolio-item-type {
  letter-spacing: 0.02em;
}

.footer {
  background-color: #2e2f42;
  padding: 96px 0;
}
.footer-container {
  display: block;
}
.footer-block {
  display: block;
}

.footer-logo {
  display: inline-block;
  margin-bottom: 16px;
  width: 100%;
  text-align: center;
  padding: 0;
}
.footer-text {
  width: 264px;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
.footer-block-social {
  display: block;
  text-align: center;
  margin: 72px auto;
}
.footer-social-title,
.footer-form-title {
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.footer-social-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.footer-social-item {
  display: flex;
  width: 40px;
  height: 40px;
}
.footer-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-icon {
  fill: #f4f4fd;
}
.footer-link:hover,
.footer-link:focus {
  background-color: #31d0aa;
}
.footer-block-form {
  margin-left: auto;
  text-align: center;
}

.footer-form {
  display: block;
}

.footer-input {
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 8px 8px 16px;
  width: 100%;
  height: 40px;
  color: #fff;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-input::placeholder {
  font-family: inherit;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.3);
}
.footer-input:hover,
.footer-input:focus,
.footer-input:active {
  border-color: rgba(77, 90, 229, 1);
}

.footer-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  background-color: #4d5ae5;
  border-radius: 4px;
  padding: 8px 24px;
  margin: 16px auto 0;
  min-width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: none;
  border: none;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-btn-icon {
  margin-left: 16px;
}

.footer-btn:hover,
.footer-btn:focus {
  background-color: #404bbf;
}

/* ====================  MODAL WINDOW ================= */

.modal-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(46, 47, 66, 0.4);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-background.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 288px;
  min-height: 623px;
  border-radius: 4px;
  background-color: #fcfcfc;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  padding: 72px 16px 24px 16px;
  transform: translate(-50%, -50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-background:not(.is-open) .modal {
  transform: translate(-50%, -50%) scale(1.5);
}

.close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 24px;
  height: 24px;
  background-color: #e7e9fc;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.close-icon {
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn:hover,
.close-btn:focus {
  background-color: #404bbf;
  border: none;
}

.close-btn:hover .close-icon,
.close-btn:focus .close-icon {
  fill: #fff;
}

.form-title {
  display: block;
  text-align: center;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 16px;
}

.modal-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.form-box {
  margin-bottom: 8px;
}

.form-box.last {
  margin-bottom: 16px;
}

.form-label {
  display: block;
  margin-bottom: 4px;
  font-family: inherit;
  font-weight: 400;
  font-size: 12px;
  line-height: 117%;
  letter-spacing: 0.04em;
  color: #8e8f99;
}
.form-box-input {
  position: relative;
}

.form-input {
  border: 1px solid rgba(46, 47, 66, 0.4);
  background-color: transparent;
  outline: transparent;
  border-radius: 4px;
  width: 100%;
  height: 40px;
  padding: 8px 16px 8px 38px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-box-textarea {
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  outline: transparent;
  background-color: transparent;
  width: 100%;
  resize: none;
  padding: 8px 16px;
  margin-top: 4px;
  font-family: inherit;
  font-weight: 400;
  font-size: 13px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.9);
  height: 120px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-box-textarea::placeholder {
  color: rgba(46, 47, 66, 0.4);
  font-size: 12px;
}

.form-input-icon {
  fill: #2e2f42;
  position: absolute;
  left: 16px;
  top: 50%;
  outline: none;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-box-textarea:focus {
  border-color: #4d5ae5;
}

.form-input:focus {
  border-color: #4d5ae5;
}

.form-input:focus + .form-input-icon {
  fill: #4d5ae5;
}

.form-box-policy {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: none;
  padding: 0;
  margin-bottom: 24px;
  gap: 8px;
  line-height: 1.17;
}

/* .checkbox-policy, */
.visually-hidden {
  visibility: hidden;
  width: 16px;
  height: 16px;
}
.modal-form .form-label-policy {
  font-family: inherit;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  padding-left: 24px;
}

.form-label-checkbox {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-label-checkbox {
  position: absolute;
  top: 6px;
  left: 0;
}

.checkbox-policy:checked + .form-label-policy > .form-label-checkbox {
  border: none;
  background-color: #404bbf;
  fill: #f4f4fd;
}

.form-label-checkbox > .form-checkbox-icon {
  fill: transparent;
}
.modal-form .form-label-policy > .form-link-policy {
  color: #4d5ae5;
  text-decoration: underline;
}

.modal-form-btn {
  display: block;
  color: #ffffff;
  border-style: none;
  background-color: #4d5ae5;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  margin: auto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  border-radius: 4px;
  min-width: 169px;
  height: 56px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 16px 32px;
}

.modal-form-btn:hover,
.modal-form-btn:focus {
  background-color: #404bbf;
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 16px;
  }
  .logo {
    margin-right: 120px;
    padding: 24px 0;
  }
  .header-nav-list {
    display: flex;
  }

  .header-nav-item:not(:last-child) {
    margin-right: 40px;
    margin-bottom: 0;
  }

  .header-nav-item-link {
    position: relative;
    font-size: 16px;
    font-weight: 500;
    padding: 24px 0;
  }

  .header-nav-item-link::after {
    position: absolute;
    bottom: -1px;
    left: 0;
    content: '';
    width: 0%;
    height: 4px;
    border-radius: 2px;
    background-color: #404bbf;
    transition: width 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header-nav-item-link:hover::after,
  .header-nav-item-link:focus::after,
  .header-nav-item-link:active::after {
    width: 100%;
  }

  .header-nav-item-link.active {
    color: #404bbf;
    &::after {
      width: 100%;
    }
  }
  .header-address {
    display: block;
  }

  .header-address-list {
    align-items: flex-end;
  }
  .header-address-item,
  .header-address-item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 0;
  }

  .header-address .header-address-link {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: inherit;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus,
    &:active {
      color: #404bbf;
    }
  }

  .menu-btn {
    display: none;
  }
  .header-nav-mobile {
    display: none;
  }
  .banner {
    padding: 112px 0;
  }

  .banner-title {
    max-width: 496px;
    font-size: 56px;
    line-height: 1.07;
  }

  .banner-btn {
    margin: 36px auto 0;
  }

  .stand-out-list {
    display: flex;
    gap: 72px 24px;
    flex-wrap: wrap;
    justify-content: center;
  }

  .stand-out-item {
    flex-basis: calc((100% - 24px) / 2);
    margin: 0;
  }

  .stand-out-title {
    text-align: left;
  }

  .our-team-list {
    display: flex;
    gap: 64px 24px;
    flex-wrap: wrap;
    justify-content: center;
  }

  .our-team-item {
    flex-basis: calc((100% - 24px) / 2);
    max-width: 264px;
    margin: 0;
  }

  .portfolio-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 72px 24px;
    justify-content: center;
  }

  .portfolio-item {
    flex-basis: calc((100% - 24px) / 2);
    max-width: 356px;
    margin-bottom: 0;
  }

  /* .portfolio-item:not(:nth-child(-n + 2)) {
    margin-top: 48px;
  } */

  .portfolio-item-card {
    height: 300px;
  }

  .footer {
    padding: 100px 0;
  }
  .footer-container {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
    width: 584px;
  }

  .footer-block {
    width: 264px;
    margin-right: 24px;
  }

  .footer-logo {
    width: auto;
    text-align: left;
    margin-right: 0;
    padding: 0;
  }
  .footer-block-social {
    text-align: left;
    margin: 0;
  }
  .footer-social-list {
    justify-content: flex-start;
  }
  .footer-block-form {
    flex-grow: 1;
    text-align: left;
    margin-top: 72px;
  }

  .footer-form {
    display: flex;
    gap: 24px;
    justify-content: flex-start;
    align-items: baseline;
  }

  .footer-input {
    width: 264px;
  }
  .footer-btn {
    margin: 0;
  }

  .modal {
    width: 408px;
    min-height: 584px;
    padding: 72px 24px 24px 24px;
  }
  .form-label-checkbox {
    top: -1px;
  }
}

@media (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
  .logo {
    margin-right: 76px;
  }
  .header-nav-item:not(:last-child),
  .header-address-item:not(:last-child) {
    margin-right: 40px;
  }

  .header-address-list {
    flex-direction: row;
  }
  .header-address .header-address-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
  .banner {
    padding: 188px 0;
  }

  .banner-container {
    max-width: 1440px;
  }

  .banner-btn {
    margin: 48px auto 0;
  }

  .stand-out {
    padding: 120px 0;
  }
  .stand-out-list {
    flex-wrap: nowrap;
  }

  .stand-out-item {
    flex-basis: calc((100% - 72px) / 4);
  }
  .stand-out-item:not(:nth-child(-n + 2)) {
    margin-top: 0;
  }
  .stand-out-pic {
    display: flex;
  }

  .stand-out-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: #2e2f42;
  }

  .stand-out-desc {
    font-weight: 400;
  }

  .our-team {
    padding: 120px 0;
  }

  .our-team-item {
    flex-basis: calc((100% - 72px) / 4);
  }
 
  .portfolio {
    padding: 120px 0;
  }
  .portfolio-list {
    gap: 48px 24px;
  }
  .portfolio-item {
    flex-basis: calc((100% - 48px) / 3);
    max-width: 360px;
    margin-bottom: 0;
  }

  /* .portfolio-item:nth-child(3) {
    margin-top: 0;
  }
  .portfolio-item:not(:nth-child(-n + 3)) {
    margin-top: 24px;
  } */

  .footer-container {
    flex-wrap: nowrap;
    justify-content: space-between;
  }
  .footer-block {
    margin-right: 120px;
  }

  .footer-block-form {
    flex-grow: 0;
    margin-top: 0;
    margin-left: 80px;
  }

  .footer-input {
    border: 1px solid rgba(255, 255, 255, 1);
  }

  .footer-input::placeholder {
    color: rgba(255, 255, 255, 1);
  }
}
